.visualizer {
  margin: 2rem;
  padding: 2rem;
  padding-top: 0;
}

.info-data {
  margin-bottom: auto;
}

.sort-speed-data {
  display: inline;
  margin-right: 1rem;
}

.bar-row {
  position: relative;
  height: 30rem;
}
