.bar {
  display: inline-block;
  position: relative;
}
.number {
  margin: auto;
}
.vertical {
  border-right: 1px solid white;
  border-left: 1px solid white;
  background-color: black;
  margin: 0 auto;
}
